In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

from sklearn.ensemble import RandomForestClassifier

In [2]:

df = pd.read_csv("G:\Online Trainings\Letsupgrade\Day 24\general_data.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
df.drop(columns=['EmployeeCount','EmployeeID'],inplace=True)

df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [4]:
df.mean()

Age                           36.923810
DistanceFromHome               9.192517
Education                      2.912925
JobLevel                       2.063946
MonthlyIncome              65029.312925
NumCompaniesWorked             2.694830
PercentSalaryHike             15.209524
StandardHours                  8.000000
StockOptionLevel               0.793878
TotalWorkingYears             11.279936
TrainingTimesLastYear          2.799320
YearsAtCompany                 7.008163
YearsSinceLastPromotion        2.187755
YearsWithCurrManager           4.123129
dtype: float64

In [6]:
new_Num_Comp_worked =np.where(df["NumCompaniesWorked"].isnull(),3,df["NumCompaniesWorked"])
new_Total_Wrk_Yrs =np.where(df["TotalWorkingYears"].isnull(),11,df["TotalWorkingYears"])
df["NumCompaniesWorked"]=new_Num_Comp_worked
df["TotalWorkingYears"]=new_Total_Wrk_Yrs

In [7]:
objList = df.select_dtypes(include = "object").columns

label_encoder = preprocessing.LabelEncoder()
attrition_encoded = df.apply(label_encoder.fit_transform)

rf_attmodel = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)

features =["Age","BusinessTravel", "Department", "DistanceFromHome", "Education", "EducationField", "Gender", "JobLevel", "JobRole",  "MaritalStatus", "MonthlyIncome", "NumCompaniesWorked", "Over18", "PercentSalaryHike", "StandardHours", "StockOptionLevel",  "TotalWorkingYears", "TrainingTimesLastYear", "YearsAtCompany","YearsSinceLastPromotion", "YearsWithCurrManager"]

In [8]:
rf_attmodel.fit(X=attrition_encoded[features],y=attrition_encoded["Attrition"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [9]:
print("OOB Accuracy :",rf_attmodel.oob_score_)

OOB Accuracy : 1.0

In [10]:
for feature, imp in zip(features,rf_attmodel.feature_importances_):
    print(feature,imp)

Age 0.09647538616566105
BusinessTravel 0.02785302192265324
Department 0.02605055377111562
DistanceFromHome 0.07022044598835561
Education 0.04099329244816094
EducationField 0.04051712711162364
Gender 0.018359488685859376
JobLevel 0.03763082419316852
JobRole 0.055624616625614375
MaritalStatus 0.03986304322183405
MonthlyIncome 0.09335325850220579
NumCompaniesWorked 0.05620366429580751
Over18 0.0
PercentSalaryHike 0.06579940003548589
StandardHours 0.0
StockOptionLevel 0.034039904495030054
TotalWorkingYears 0.08490912100560308
TrainingTimesLastYear 0.04476925657546158
YearsAtCompany 0.06941037849226196
YearsSinceLastPromotion 0.04366652977565959
YearsWithCurrManager 0.05426068668843824

In [11]:
tree_model =tree.DecisionTreeClassifier(max_depth = 8)

IndVar_Attr =pd.DataFrame([attrition_encoded['Age'],attrition_encoded['MonthlyIncome'],attrition_encoded['TotalWorkingYears'],attrition_encoded['DistanceFromHome'],attrition_encoded['YearsAtCompany'],attrition_encoded['PercentSalaryHike'],attrition_encoded['NumCompaniesWorked'],attrition_encoded['JobRole'],attrition_encoded['YearsWithCurrManager']]).T

tree_model.fit(X=IndVar_Attr,y=attrition_encoded["Attrition"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
with open("Attr_Model.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","MonthlyIncome","TotalWorkingYears","DistanceFromHome","YearsAtCompany","PercentSalaryHike","NumCompaniesWorked","JobRole","YearsWithCurrManager"],out_file=f);

In [13]:
print("Classification Accuracy with the features  is :", tree_model.score(X=IndVar_Attr,y=attrition_encoded["Attrition"]))

Classification Accuracy with the features  is : 0.9018140589569161