In [1]:
import pandas as pd
import numpy as np
from sklearn import tree, preprocessing
from sklearn.ensemble import RandomForestClassifier

df =pd.read_excel("G:\Online Trainings\Letsupgrade\Day 24\Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [2]:
df.drop(columns=['ID','ZIP Code'],inplace=True)

df.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [3]:
objList = df.select_dtypes(include = "object").columns
print(objList)

rf_bankmodel = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)
features =["Age", "Experience", "Income", "Family", "CCAvg", "Education","Mortgage", "Securities Account", "CD Account", "Online", "CreditCard"]

Index([], dtype='object')

In [4]:
rf_bankmodel.fit(X=df[features],y=df["Personal Loan"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [5]:
print("OOB Accuracy :",rf_bankmodel.oob_score_)

OOB Accuracy : 0.9876

In [6]:
for feature, imp in zip(features,rf_bankmodel.feature_importances_):
    print(feature,imp)

Age 0.04530159803175837
Experience 0.04541657773968073
Income 0.34673828932297407
Family 0.096356650537118
CCAvg 0.17980507192802658
Education 0.16100008515604927
Mortgage 0.04440931607648089
Securities Account 0.005665448926712468
CD Account 0.05657001572553946
Online 0.008615457733305309
CreditCard 0.010121488822354745

In [7]:
bank_tree_model =tree.DecisionTreeClassifier(max_depth = 8)

IndVar_Bank =pd.DataFrame([df["Income"],df["CCAvg"],df["Education"],df["Family"]]).T

bank_tree_model.fit(X=IndVar_Bank,y=df["Personal Loan"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:
with open("Bank_Model.dot",'w') as f:
    f=tree.export_graphviz(bank_tree_model,feature_names=["Income","CCAvg","Education","Family"],out_file=f);

print("Classification Accuracy with the features  is :",bank_tree_model.score(X=IndVar_Bank,y=df["Personal Loan"]))

Classification Accuracy with the features  is : 0.9954